html {
    height: 100%;
}

html body {
    background: #e8e7e7;
    height: 95%;
}

.political-party {
    border: 1px solid #000;
    cursor: pointer;
}

.political-party span {
    display: block;
}

.active {
    background: #c2e2ff;
}

#total-seats {
    color: green;
}

#barra {
    height: 40px;
    background: #e8e7e7;
}

#barra div {
    height: 40px;
    display: inline-block;
}

#barra:before {
    content: "";
    border-left: 2px dashed #000;
    display: block;
    left: 50%;
    height: 40px;
    position: absolute;
    width: 1px;
    z-index: 3;
}

@media (min-width: 992px ) {
    .political-party{
        min-width: 24.5%;
    }
}


@media (max-width: 992px ) {
    .political-party{
        min-width: 49.2%;
    }
}


@media (max-width: 576px ) {
    .political-party{
        min-width: 100%;
    }
}

